<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100 min-h-screen">
    <!-- Navbar -->
    <div class="bg-green-800 text-white p-4 flex justify-between fixed top-0 left-0 w-full">
      <h1 class="font-bold">SEA - IFAL</h1>
    </div>

    <div class="m-5 max-w-sm mt-20 mx-auto bg-white shadow-xl rounded-2xl p-8 w-full">
      <!-- Título -->
      <h1 class="text-2xl font-bold text-gray-800 text-center mb-6">
        Criar Conta
      </h1>

      <form action="/cadastro" method="post" class="space-y-4">
        <!-- Nome -->
        <div>
          <label for="name" class="block text-sm font-medium text-gray-700">
            Nome
          </label>
          <input
            type="text"
            id="name"
            name="name"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          />
        </div>

        <!-- Usuário -->
        <div>
          <label for="username" class="block text-sm font-medium text-gray-700">
            Usuário
          </label>
          <input
            type="text"
            id="username"
            name="username"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          />
        </div>

        <!-- Matricula -->
        <div>
          <label
            for="matricula"
            class="block text-sm font-medium text-gray-700"
          >
            Matrícula
          </label>
          <input
            type="number"
            id="matricula"
            name="matricula"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          />
        </div>

        <!-- Série -->
        <div>
          <label for="serie" class="block text-sm font-medium text-gray-700">
            Série
          </label>
          <select
            name="serie"
            id="serie"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          >
            <option value="">Selecione a série</option>
            <option value="1">1º</option>
            <option value="2">2º</option>
            <option value="3">3º</option>
          </select>
        </div>

        <!-- Turma -->
        <div>
          <label for="turma" class="block text-sm font-medium text-gray-700">
            Turma
          </label>
          <select
            name="turma"
            id="turma"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          >
            <option value="">Selecione a turma</option>
            <option value="A">A</option>
            <option value="B">B</option>
          </select>
        </div>

        <!-- Curso-->
        <div>
          <label for="curso" class="block text-sm font-medium text-gray-700">
            Curso
          </label>
          <select
            name="turma"
            id="turma"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          >
            <option value="">Selecione a turma</option>
            <option value="DS">Desenvolvimento de Sistema</option>
            <option value="MA">Meio Ambiente</option>
            <option value="GT">Guia de Turismo</option>
            <option value="IM">Instrumento Musical</option>
          </select>
        </div>

        <!-- Senha -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">
            Senha
          </label>
          <input
            type="password"
            id="password"
            name="password"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          />
        </div>

        <!-- Confirmar Senha -->
        <div>
          <label for="confirm_password" class="block text-sm font-medium text-gray-700">
            Confirmar Senha
          </label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
            class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-green-600"
          />
        </div>

        <!-- Rodapé -->
        <p class="text-sm text-gray-500 text-center mt-6">
          Já tem conta?
          <a href="/login" class="text-green-700 hover:underline"> Entrar </a>
        </p>

        <!-- Botão -->
        <button
          type="submit"
          class="w-full bg-green-700 hover:bg-green-600 text-white font-semibold py-2 rounded-lg transition duration-200"
        >
          Cadastrar
        </button>
      </form>
    </div>
  </body>
</html>
