<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

<body class="bg-gray-100 min-h-screen">
    <!-- Navbar -->
    <div class="bg-green-800 text-white p-4 flex justify-between">
      <h1 class="font-bold">SEA - IFAL</h1>
      <a href="/Atividade-walker/Projeto 2026/templates/dashboard.html" class="hover:underline">Voltar</a>
    </div>

    <div class="max-w-4xl mx-auto p-6">
        <h2 class="text-2xl font-bold text-gray-800  text-start">
            Turma: 1º A
        </h2>
        <h3 class="text-start mb-6 text-gray-600">
            Curso: Engenharia de Software
        </h3>

        <div class="bg-white p-6 rounded-xl shadow mb-8 inline-block w-full">
            <h3 class="text-lg font-semibold text-gray-800 mb-4 text-start">
                Estudantes
            </h3>
            <ul class="list-disc list-inside text-gray-700">
                <li class="flex justify-between items-center px-3 py-2 odd:bg-gray-200">
                    <span>João Silva</span>
                    <span class="text-sm text-gray-500">Matricula: 2026301020</span>
                </li>
                <li class="flex justify-between items-center px-3 py-2 odd:bg-gray-200">
                    <span>Maria Oliveira</span>
                    <span class="text-sm text-gray-500">Matricula: 2026301021</span>
                </li>
                    <li class="flex justify-between items-center px-3 py-2 odd:bg-gray-200">
                    <span>Carlos Santos</span>
                    <span class="text-sm text-gray-500">Matricula: 2026301022</span>
                </li>
                <li class="flex justify-between items-center px-3 py-2 odd:bg-gray-200">
                    <span>Ana Costa</span>
                    <span class="text-sm text-gray-500">Matricula: 2026301023</span>
                </li>
                <li class="flex justify-between items-center px-3 py-2 odd:bg-gray-200">
                    <span>Pedro Almeida</span>
                    <span class="text-sm text-gray-500">Matricula: 2026301024</span>
                </li>
            </ul>
    </div>
</body>
</html>